body {
  background-color: #ffffff;
  color: #222244;

  margin: 0px;
  padding: 0px;

  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

h1 {
  font-size: 16pt;
  font-weight: bold;
  font-style: italic;
  background-color: #ddddee;
  width: 100%;
}

h2 {
  font-size: 14pt;
  font-weight: bold;
  font-style: italic;
  background-color: #eeeeff;
  width: 100%;
}

p {
  text-align: justify;
}

a {
  color: #555599;
}

a:hover {
  color: #222244;
}

table {
  border: none;
  border-spacing: 0px;
  border-collapse: collapse;
}

td {
  border: 1px solid #222244;
  border-spacing: 0px;
  border-collapse: collapse;
}

div {
  border: 1px solid #000066;
  padding: 3px;
}

div.app-pref {
  border: 1px solid black;
  background-color: #aaaaaa;
}