#set ($userGroups = $user.groups)

<div id="berkano-user-mgt">
#include("/berkano/usermgt/nav.vm")

<h1>User: $user.userName</h1>

<h2>Details</h2>
<ul>
<li>Name: $user.userName</li>
##<li>Class: $user.class</li>
<li>Full Name: $user.fullName</li>
<li>Email: $user.email</li>
</ul>

<h2>Groups</h2>
<p>$userGroups.size() groups</p>

<ul>
#foreach ($group in $userGroups)
   <li><a href="group.view.action?groupId=$group.groupId">($group.groupId) $group.groupName</a></li>
#end
</ul>

<p><a href="usergroups.view.action?userId=$user.userId">Add / Edit Groups</a></p>

<h2>Properties</h2>
<table>
    <tr>
        <th colspan="2">Origin</th>
        <th>Property name</th>
        <th>Value</th>
        <th>Actions</th>
    </tr>
#foreach ($prop in ${user.properties.entrySet()})
    <tr>
        <td colspan="2">user</td>
        <td>$prop.key</td>
        <td>$prop.value</td>
        <td>[<a href="user.delproperty.action?userId=$user.userId&propertyKey=$webwork.urlEncode($prop.key)">Del</a>]</td>
    </tr>
#end
#foreach ($group in $userGroups)
#foreach ($prop in ${group.properties.entrySet()})
    <tr>
        <td>group</td>
        <td>$group.groupName</td>
        <td>$prop.key</td>
        <td>$prop.value</td>
        <td>[<a href="user.delproperty.action?userId=$user.userId&propertyKey=$webwork.urlEncode($prop.key)">Del</a>]</td>
    </tr>
#end
#end
</table>

<h2>Add Property (strings only...)</h2>
<form action="user.addproperty.action" method="post">
<input type="hidden" name="userId" value="$user.userId">
Key: <input name="propertyKey" type="text"><br/>
Value: <input name="newPropertyValue" type="text"><br/>
<input type="submit" name="propertyAdd" value="Add Property"/>
</form>

</div>
