<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="connection.datasource">java:comp/env/jdbc/swafDS</property>
        <property name="show_sql">true</property>
        <property name="dialect">net.sf.hibernate.dialect.MySQLDialect</property>
        <!--<property name="cache.provider_class">net.sf.hibernate.cache.HashtableCacheProvider</property>-->
        <!--<property name="cglib.use_reflection_optimizer">false</property>-->

        <!-- fichiers de mapping -->
        <mapping resource="net/incongru/swaf/user/User.hbm"/>
        <mapping resource="net/incongru/swaf/user/Group.hbm"/>
        <mapping resource="net/incongru/swaf/security/Role.hbm"/>

    </session-factory>

</hibernate-configuration>
