<div id="berkano-user-mgt">
#include("/berkano/usermgt/nav.vm")

<h1>Users</h1>

<ol>
#foreach ($user in $allUsers)
  <li>$user.userName
        ($user.email)
        [<a href="user.view.action?userId=$!user.userId">View</a>
        | <a href="user.edit.action?userId=$!user.userId">Edit</a>
        | <a href="usergroups.view.action?userId=$!user.userId">Groups</a>
        | <a href="user.remove.action?userId=$!user.userId">Del</a>]
  </li>
#end
</ol>

<p><a href="user.new.action">New user</a></p>

</div>
